@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;

.drinkDetails {
    background-color: $main;
    margin: 1rem;
    border-radius: 1rem;
    padding: 0.75rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__card {
        background-color: $light;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 1rem;
        margin-top: 1rem;
    }
    &__image {
        height: 12rem;
        width: 100%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    &__title {
        @include regular;
        font-size: 26px;
        border-bottom: solid 1px $dark;
        padding: 0.75rem 0rem;
        margin-bottom: 0.75rem;
    }

    &__text {
        @include regular;
        padding: 0.75rem;
    }
}
